/* Los estilos de tu proyecto */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color:#fff;
}
/*estilos para el navbar phone*/
.izquierda{
    float: left;
}

/*estilos para el modal login*/
#login .modal-content{
    background: #2FBD9A;
}
[alt="user"]{
    width: 12vw;
}

.gray{
    color: #737D7B;
}

#login .modal-body .jumbotron{
    width: 20vw;
    padding: 1.5vw;
}

#login .modal-body .jumbotron h5{
    display: inline-block;
    margin: 2vw 0.50vw 1.5vw auto;
}

#login .modal-body .jumbotron a{
    text-decoration: none;
    color: #C3604A;
}
/*estilos para la section registrarse */
.hero-image{
    background-image: url('../assets/images/taxi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    position: relative;
}

#section-checkin .orange{
    background: #F3AB24;
    border-radius: 0;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
    width:35%;
    height: auto;
    margin-left: 65%;
    font-size: 2.5vw;
    font-weight: bold;
    color: #fff; 
    padding: 3vw;
}

#section-checkin .visible-xs-block{
    width: 65%;
    margin-left:35%;
}

#section-checkin a{
    background: #fff;
    color: #000;
}

#section-checkin .row{
    margin-right: 0;
}

#section-checkin h2{
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}

#section-checkin [alt="logoBlanco"]{
    width: 15vh;
}

/*estilos para el modal signup*/
#signup .black{
   color: #fff;
   background-color: #000;
}

#signup .modal-content, #become-driver .modal-content{
    background: #a9a9a9;
}

#signup .modal-content .modal-body h5{
    text-align: center;
    color: #000;
    padding: 1.5vw 0 0.50vw 0 ;
}

#signup .modal-content .modal-body .padding-left{
    padding: 0 7vw 0 1vw;
}

#signup .margin-top{
    margin-top: 1.5vw;
}

#signup .modal-content .modal-body .bolder,span{
    background: #D7DBDD;
    color: #000;
    font-weight: bolder;
}

/*estilos para la section phone*/
#img-phone{
    background: #F3AB24;
}

#img-phone .hidden-xs{
    width: 70%;
    padding: 5vh;
    margin: 5vh 0;
    border: 1px solid #fff;
    border-left: 0;
    display: flex;
    justify-content: space-between;
}

#img-phone #text-phone{
    font-size: 1.30vw;
    text-align: justify;
}

#img-phone [alt="phone"]{
    width: 25vw;
}

#img-phone .visible-xs-block .col-xs-12{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    padding: 5vw;
    margin: 8vw 3vw;
}


#img-phone [alt="phone-mobile"]{
    width: 75vw;
}

/*estilos para la section be driver*/

#be-driver{
    background-image: url('../assets/images/conduce.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position-x: center;
    background-position-y: bottom;
    position: relative;
    height: 55vh;
    
}

#be-driver .opacity{
    padding: 6vw 3vw 2vw 3vw;
    background: rgba(0, 0, 0, 0.6);
    height: 40vh;
    width: 30vw;
    float: right;
}

@media(max-width:767px){

    #be-driver .opacity{
        width: 100vw;
        height: 100vw;
        padding: 10vw 3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #be-driver .opacity .btn{
        width:50vw;
    }
}

/*estilos para el modal become-driver*/

#become-driver label{
    color: #000;
}
/*estilos para la section rates*/
#rates{
    background: #F3AB24;
}

#rates .row{
    display:flex;
    justify-content: space-between;
    margin: 3vw;
}

[alt="sudamerica"]{
    width: 25vw;
    height: 30vw;    
    padding: 1vw;
    border: 2px solid #fff;
}

@media(max-width:767px){
    #rates .row{
        display:flex;
        flex-direction: column;
    }
    #rates .row .col-md-offset-3 img{
        content: url('../assets/images/mapa-mobile.png');
        width: 70vw;
        height: 60vw;
        margin: 4vw;
    }
}
/*estilos para el footer*/
footer{
    background: #2C3E50;
    padding: 6vw 0;
}

footer ul  li{
     line-height: 2.5;
}

footer [alt="appstore"], [alt="playstore"]{
    width: 13vw;
    padding: 1vw 0;
    position: relative;
    top: 10vw;
}

@media(max-width:767px){
    footer{
        padding: 10vw 5vw;
    }
    footer [alt="appstore"], [alt="playstore"]{
        width: 40vw;
    }
}
